<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>admin</title>
</head>
<body>
 hello!
 <p sec:authentication="principal.username"/>
<div sec:authorize-expr="hasIpAddress('127.0.0.0/2') and #httpServletRequest.getLocalPort()==8080">
   spring el in sec:authorize-expression
</div>
 <div sec:authorize="${hasAnyRole(@utils.roles) and @utils.flag}">
     test sec:authorize with thymeleaf-style expression
 </div>

 <div sec:authorize="hasAnyRole(@utils.users.![user_role])">
     test sec:authorize with normal spring el expression
 </div>
 <!--<div sec:authorize="hasRole(roleName)">
     attempt to access modelattribute 'roleName' directly, without #vars
 </div>-->
 <div sec:authorize="hasRole(#vars.roleName)">
     attempt to access modelattribute 'roleName' via #vars
 </div>

 <div sec:authorize-url="GET /foo">
     +++++++++++++++++++++++++++++++
 </div>
</body>
</html>