<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringSecurity3Ext_test0:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringSecurity3Ext_test0_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringSecurity3Ext_test0/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringSecurity3Ext_test0" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="Thymeleaf_2.1.4" module-name="SpringSecurity3Ext_test0" />
          <element id="library" level="module" name="spring4.11" module-name="SpringSecurity3Ext_test0" />
          <element id="library" level="module" name="SpringMVC_4.1" module-name="SpringSecurity3Ext_test0" />
          <element id="library" level="module" name="spring_security3.2" module-name="SpringSecurity3Ext_test0" />
          <element id="library" level="module" name="thymeleaf-extras-springsecurity3" module-name="SpringSecurity3Ext_test0" />
        </element>
      </element>
    </root>
  </artifact>
</component>